<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.serviceModel>
    <services>
      <service name="WorkerMonitoringService.WorkerRESTAPI">
        <endpoint address="http://localhost:5012/mess-worker" binding="webHttpBinding"
          name="Worker.WorkerPublicAPI" contract="WorkerMonitoringService.IWorkerRESTAPI"
          kind="webHttpEndpoint" endpointConfiguration="" />
      </service>
    </services>    
  </system.serviceModel>
</configuration>